<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
      content="پرسکاری, مونتاژ,سیساکو, قالب سازی,قطعات خودرو,قطعات فلزی,pressing,sisako,welding,diecasting">
    <meta name="description" content="pressing and assembly sheet metal parts">
    <meta name="author" content="Arman Abasian">
    <!--  Swiper's CSS -->
    <link href="../build/tailwind.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/public/images/logos/logo.ico" />
    <title>sisako | سیساکو |diecasting</title>
</head>
<body dir="rtl" class="font-samim bg-sisakoWhite">
    <div class="p-4 my-4" id="discasting">
        <!--unitImagesContainer diecasting  unitName -->
        <p class="border-b-2 pb-1 font-bold text-base  mb-8 border-sisakoLightBlue text-sisakoDarkBlue">واحد قالب سازی
        </p>
        <!-- unitImagesContainer diecasting  unitImages -->
        <div class="columns-xs">
          <!-- unitImagesContainer diecasting  unitImages image1-->
          <div class="container relative group bg-blue-400 rounded-md">
            <img src="../images/diecasting/CNC1.webp" alt="Avatar"
              class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div
              class="flex flex-col middle items-center justify-center opacity-0 absolute inset-5 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text-lg ">فرز VMC CNC</p>
              <p class="text-sm ">ابعاد کارگیر ماشین : 1100*600*600 mm محصول کشور تایوان </p>
            </div>
          </div>
          <!-- unitImagesContainer diecasting  unitImages image2 -->
          <div class="container relative group bg-blue-400 rounded-md">
            <img src="../images/diecasting/CNC2.webp" alt="Avatar"
              class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div
              class="flex flex-col middle items-center justify-center opacity-0 absolute inset-5 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text-lg">فرز CNC سه محور مدل BLIN </p>
              <p class="text-sm">ابعاد کارگیر ماشین : 800*550*550 mm محصول کشور چین </p>
            </div>
          </div>
          <!-- unitImagesContainer diecasting  unitImages image3 -->
          <div class="container relative group bg-blue-400 rounded-md">
            <img src="../images/diecasting/CNC3.webp" alt="Avatar"
              class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div
              class="flex flex-col middle items-center justify-center opacity-0 absolute inset-5 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text-lg">فرز CNC سه محور مدل DECKEL MAHO</p>
              <p class="text-sm">ابعاد کارگیر ماشین : 500*400*500 mm محصول کشور آلمان </p>
            </div>
          </div>
          <!-- unitImagesContainer diecasting  unitImages image4 -->
          <div class="container relative group bg-blue-400 rounded-md">
            <img src="../images/diecasting/Driil.webp" alt="Avatar"
              class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div
              class="flex flex-col middle items-center justify-center opacity-0 absolute inset-5 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text-lg">دریل رادیال Z3050160 مدل WDM و دریل رادیال Z3050160 مدل ZJ </p>
              <p class="text-sm">محصول مشترک چک و چین </p>
            </div>
          </div>
          <!-- unitImagesContainer diecasting  unitImages image5 -->
          <div class="container relative group bg-blue-400 rounded-md">
            <img src="../images/diecasting/machinig.webp" alt="Avatar"
              class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div
              class="flex flex-col middle items-center justify-center opacity-0 absolute inset-5 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text-lg">طراحی و ساخت قالب</p>
              <p class="text-sm">طراحی و ساخت قطعات استاندارد قالب در واحد طراحی و ساخت قالب و توسط پرسنل مجرب و متخصص
                شرکت سیمین صنعت کوشا انجام می گیرد . </p>
            </div>
          </div>
          <!-- unitImagesContainer diecasting  unitImages image6 -->
          <div class="container relative group bg-blue-400 rounded-md  md:block">
            <img src="../images/diecasting/sang.webp" alt="Avatar"
              class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div
              class="flex flex-col middle items-center justify-center opacity-0 absolute inset-5 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text-lg"> سنگ تخت مغناطیس آذرخش مدل SPD40</p>
              <p class="text-sm">ابعاد میز ماشین : 1000*400mm محصول کشور لهستان </p>
            </div>
          </div>
          <!-- unitImagesContainer diecasting  unitImages image7 -->
          <div class="container relative group bg-blue-400 rounded-md  md:block">
            <img src="../images/diecasting/soloon.webp" alt="Avatar"
              class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div
              class="flex flex-col middle items-center justify-center opacity-0 absolute inset-5 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text-lg">ماشین کاری</p>
              <p class="text-sm"> ماشینکاری 2D & 3D قطعات قالب برروی ماشین های فرز CNC با رعایت دقت بالا صورت می گیرد
              </p>
            </div>
          </div>
          <!-- unitImagesContainer diecasting  unitImages image8 -->
          <div class="container relative group bg-blue-400 rounded-md  md:block">
            <img src="../images/diecasting/wirecut1.webp" alt="Avatar"
              class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div
              class="flex flex-col middle items-center justify-center opacity-0 absolute inset-5 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text-lg"> وایرکات charmilles مدل ROBOFIL 2030 TWSI </p>
              <p class="text-sm">ابعاد کارگیر ماشین : 400*200*150 mm دقت ماشین : 0.001mm محصول کشور سوئیس </p>
            </div>
          </div>
          <!-- unitImagesContainer diecasting  unitImages image9 -->
          <div class="container relative group bg-blue-400 rounded-md  md:block">
            <img src="../images/diecasting/wirecut2.webp" alt="Avatar"
              class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div
              class="flex flex-col middle items-center justify-center opacity-0 absolute inset-5 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text-lg"> وایرکات charmilles مدل 2060 SI ROBOFIL </p>
              <p class="text-sm">ابعاد کارگیر ماشین : 400*400*200 mm دقت ماشین : 0.003mm محصول کشور سوئیس </p>
            </div>
          </div>
          <!-- unitImagesContainer diecasting  unitImages image10 -->
          <div class="container relative group bg-blue-400 rounded-md  md:block">
            <img src="../images/diecasting/wirecut3.webp" alt="Avatar"
              class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div
              class="flex flex-col middle items-center justify-center opacity-0 absolute inset-5 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text-lg">قالب های پروگرسیو</p>
              <p class="text-sm">با توجه به الزام و رعایت دقت بالا در ساخت قطعات قالبهای پروگرسیو ، انجام این فرایند با
                بهره گیری از بروزترین نرم افزارهای مرتبط توسط وایرکاتهای موجود در شرکت سیمین صنعت کوشا صورت می گیرد </p>
            </div>
          </div>
          <!-- unitImagesContainer diecasting  unitImages image11 -->
          <div class="container relative group bg-blue-400 rounded-md  md:block ">
            <img src="../images/diecasting/saloon2.webp" alt="Avatar"
              class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div
              class="flex flex-col middle items-center justify-center opacity-0 absolute inset-5 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text-lg">توانایی مجموعه قالب سازی</p>
              <p class="text-sm">کلیه مراحل ساخت قالب از فاز طراحی قالب تا مرحله TRY OUT و اخذ قطعه OFF TOOL در واحد
                طراحی و ساخت قالب شرکت سیمین صنعت کوشا صورت می گیرد . </p>
            </div>
          </div>
          <!-- unitImagesContainer diecasting  unitImages image12 -->
          <div class="container relative group bg-blue-400 rounded-md  md:block ">
            <img src="../images/diecasting/BAOMA.webp" alt="Avatar"
              class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div
              class="flex flex-col middle items-center justify-center opacity-0 absolute inset-5 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text-lg"> وایرکات BAOMA مدل BM 120*100 </p>
              <p class="text-sm">ابعاد کارگیر ماشین : 1200*1000*1000 mm دقت ماشین : 0.005mmمحصول کشور چین </p>
            </div>
          </div>
        </div>
      </div>
</body>
</html>