<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
      content="پرسکاری, مونتاژ,سیساکو, قالب سازی,قطعات خودرو,قطعات فلزی,pressing,sisako,welding,diecasting">
    <meta name="description" content="pressing and assembly sheet metal parts">
    <meta name="author" content="Arman Abasian">
    <!--  Swiper's CSS -->
    <link href="../build/tailwind.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/public/images/logos/logo.ico" />
    <title>sisako | سیساکو | pressing</title>
</head>
<body dir="rtl" class="font-samim bg-sisakoWhite">
    <div class="p-4 mb-4" id="pressingg">
        <!--unitImagesContainer pressing  unitName -->
        <p class="border-b-2 pb-1 font-bold text-base mb-2 border-sisakoLightBlue text-sisakoDarkBlue">واحد پرسکاری</p>
        <!-- unitImagesContainer pressing  unitImages -->
        <div class="columns-xs ">
          <!-- unitImagesContainer pressing  unitImages image1-->
          <div class="container relative group bg-blue-400 rounded-md">
            <img src="../images/pressing/1200Ton.webp" alt="Avatar"
              class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div
              class="flex flex-col middle items-center justify-center opacity-0 absolute inset-5 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text-lg">پرس 1200 تن هیدرولیک</p>
              <p class="text-sm">قابلیت تولید قالب های کشش عمیق و فرم تا تناژ جک بالای 1200 تن و جک زیر 250 تن را دارد و
                تنظیم کورس به صورت الکترونیکی انجام می شود </p>
            </div>
          </div>
          <!-- unitImagesContainer pressing  unitImages image2 -->
          <div class="container relative group bg-blue-400 rounded-md">
            <img src="../images/pressing/125TonChinese.webp" alt="Avatar"
              class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div
              class="flex flex-col middle items-center justify-center opacity-0 absolute inset-5 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text-lg">پرس 125 تن ضربه ای World Group</p>
              <p class="text-sm">مناسب جهت قالب های پروگرسیو و مرحله ای دارای نمایشگر زاویه کورس آنلاین , مجهز به رول
                بازکن و فیدر الکترونیکی با دقت 0.01میلی متر و عرض تا 50 سانتی متر, باردهی تا دقت 0.1میلی متر</p>
            </div>
          </div>
          <!-- unitImagesContainer pressing  unitImages image3 -->
          <div class="container relative group bg-blue-400 rounded-md">
            <img src="../images/pressing/160TonChinese.webp" alt="Avatar"
              class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div
              class="flex flex-col middle items-center justify-center opacity-0 absolute inset-5 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text-lg">پرس 160 تن ضربه ای World Group</p>
              <p class="text-sm">مناسب جهت قالب های پروگرسیو و مرحله ای دارای نمایشگر زاویه کورس آنلاین , مجهز به رول
                بازکن و فیدر الکترونیکی با دقت 0.01میلی متر و عرض تا 70 سانتی متر, باردهی تا دقت 0.1میلی متر</p>
            </div>
          </div>
          <!-- unitImagesContainer pressing  unitImages image4 -->
          <div class="container relative group bg-blue-400 rounded-md">
            <img src="../images/pressing/160Tonchinese2.webp" alt="Avatar"
              class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div
              class="flex flex-col middle items-center justify-center opacity-0 absolute inset-5 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text-lg"> پرس های ضربه ای World Group </p>
              <p class="text-sm">این پرس ها با داشتن کلاچ wet و توازی فک با دقت 0.01 میلی متر قابلیت بستن قالب های
                نیازمند به دقت بالا و به صورت خطی
                را دارند.
              </p>
            </div>
          </div>
          <!-- unitImagesContainer pressing  unitImages image5 -->
          <div class="container relative group bg-blue-400 rounded-md">
            <img src="../images/pressing/200TonKhavar.webp" alt="Avatar"
              class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div
              class="flex flex-col middle items-center justify-center opacity-0 absolute inset-5 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text-lg">پرس 200 تن خاور پرس</p>
              <p class="text-sm">مناسب جهت قالب های پروگرسیو و مرحله ای دارای نمایشگر زاویه کورس آنلاین , مجهز به رول
                بازکن و فیدر الکترونیکی با دقت 0.1میلی متر و عرض تا 50 سانتی متر, باردهی تا دقت 0.1میلی متر</p>
            </div>
          </div>
          <!-- unitImagesContainer pressing  unitImages image6 -->
          <div class="container relative group bg-blue-400 rounded-md">
            <img src="../images/pressing/20220118_144755.webp" alt="Avatar"
              class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div
              class="flex flex-col middle items-center justify-center opacity-0 absolute inset-5 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text-lg">رول باز کن World Group</p>
              <p class="text-sm">قابلیت بازکردن رول های تا عرض 70 سانتی متر و وزن 1.5 تن را دارد</p>
            </div>
          </div>
          <!-- unitImagesContainer pressing  unitImages image7 -->
          <div class="container relative group bg-blue-400 rounded-md">
            <img src="../images/pressing/250TonKhavar.webp" alt="Avatar"
              class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div
              class="flex flex-col middle items-center justify-center opacity-0 absolute inset-5 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text-lg"> پرس 250 تن هیدرولیک خاور پرس</p>
              <p class="text-sm">قابلیت تولید قالب های کشش عمیق و فرم تا تناژ جک بالای 250 تن و جک زیر 50 تن را دارد
              </p>
            </div>
          </div>
          <!-- unitImagesContainer pressing  unitImages image8 -->
          <div class="container relative group bg-blue-400 rounded-md">
            <img src="../images/pressing/400TonChinese.webp" alt="Avatar"
              class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div
              class="flex flex-col middle items-center justify-center opacity-0 absolute inset-5 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text-lg">پرس 400 تن ضربه ای World Group</p>
              <p class="text-sm">مناسب جهت قالب های پروگرسیو و مرحله ای دارای نمایشگر زاویه کورس آنلاین , مجهز به رول
                بازکن و فیدر الکترونیکی با دقت 0.01میلی متر و عرض تا 70 سانتی متر, باردهی تا دقت 0.01میلی متر</p>
            </div>
          </div>
          <!-- unitImagesContainer pressing  unitImages image9 -->
          <div class="container relative group bg-blue-400 rounded-md">
            <img src="../images/pressing/800TonNagafi.webp" alt="Avatar"
              class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div
              class="flex flex-col middle items-center justify-center opacity-0 absolute inset-5 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text-lg">پرس 800 تن هیدولیک</p>
              <p class="text-sm">قابلیت تولید قالب های کشش عمیق و فرم تا تناژ جک بالای 800 تن و جک زیر 200 تن را دارد
              </p>
            </div>
          </div>
          <!-- unitImagesContainer pressing  unitImages image10 -->
          <div class="container relative group bg-blue-400 rounded-md">
            <img src="../images/pressing/khavars.webp" alt="Avatar"
              class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div
              class="flex flex-col middle items-center justify-center opacity-0 absolute inset-5 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text-lg"> پرس های ضربه ای خاور پرس </p>
              <p class="text-sm">شرکت از پرس های ضربه ای و هیدرولیک خاور پرس از تناژ 40 الی 200 جهت راه اندازی تولیدات
                خود استفاده می کند که طول عمر این پرس ها به طور میانگین کمتر از 5 سال می باشد.</p>
            </div>
          </div>
          <!-- unitImagesContainer pressing  unitImages image11 -->
          <div class="container relative group bg-blue-400 rounded-md">
            <img src="../images/pressing/saloon1.webp" alt="Avatar"
              class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div
              class="flex flex-col middle items-center justify-center opacity-0 absolute inset-5 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text-lg">پرس های خاور پرس</p>
              <p class="text-sm">شرکت از پرس های ضربه ای و هیدرولیک خاور پرس از تناژ 40 الی 200 جهت راه اندازی تولیدات
                خود استفاده می کند که طول عمر این پرس ها به طور میانگین کمتر از 5 سال می باشد.</p>
            </div>
          </div>
          <!-- unitImagesContainer pressing  unitImages image12 -->
          <div class="container relative group bg-blue-400 rounded-md">
            <img src="../images/pressing/saloon2.webp" alt="Avatar"
              class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div
              class="flex flex-col middle items-center justify-center opacity-0 absolute inset-5 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text-lg ">سالن پرسکاری</p>
              <p class="text-sm">در این سالن پرس های هیدرولیک از 60 الی 1200 تن و پرس های ضربه ای از 25 الی 400 تن, جهت
                تولید انواع قطعات فلزی موجود می باشد.</p>
            </div>
          </div>
        </div>
      </div>
</body>
</html>