<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../build/tailwind.css" />
    <!--  Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
    <title>Document</title>
</head>
<body class="font-IranSans">
 <!--product container-->
 <div class="grid lg:grid-cols-2 justify-center content-center items-center gap-2">

 <!--covers products-->
 <div class="p-4 mt-2 container  self-center flex justify-center items-center">
  <div class="w-full h-40 swiper mySwiper max-w-xl shadow-xl shadow-slate-900 flex items-center justify-center bg-sisakoGray rounded-md">
      <div class="swiper-wrapper">
        <!--slider 1-->
        <div class="swiper-slide content-center items-center">
          <div class="flex gap-2 justify-center items-start w-full h-full">
            <div class="flex-1 felx justify-center items-center w-full h-full">
                <img class="object-contain w-full h-full" src="../images/parts/1.png" alt="image"/>
            </div>
            <div class="flex-1 flex flex-col gap-2 justify-center w-full h-full">
                <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام محصول : </p><p class="font-bold  text-sisakoLightBlue"> کاور کلاچ 405 </p></div>
                <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام خودرو : </p><p class="font-bold text-sisakoLightBlue"> پژو 405 </p></div>
                <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام مشتری : </p><p class="font-bold text-sisakoLightBlue"> شرکت پایا کلاچ </p></div>
            </div> 
          </div>
        </div>
        <!--slider 2-->
        <div class="swiper-slide ">
          <div class="flex gap-2 justify-center items-start w-full h-full">
            <div class="flex-1 felx justify-center items-center w-full h-full">
                <img class="object-contain w-full h-full" src="../images/parts/2.png" alt="image"/>
            </div>
            <div class="flex-1 flex flex-col gap-2 justify-center   w-full h-full">
                <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام محصول : </p><p class="font-bold text-sisakoLightBlue"> کاور کلاچ 405 </p></div>
                <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام خودرو : </p><p class="font-bold text-sisakoLightBlue"> پژو 405 </p></div>
                <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام مشتری : </p><p class="font-bold text-sisakoLightBlue"> شرکت پایا کلاچ </p></div>
            </div> 
          </div>
        </div>
          <!--slider 3-->
          <div class="swiper-slide">
              <div class="flex gap-2 justify-center items-start w-full h-full">
                <div class="flex-1 felx justify-center items-center w-full h-full">
                    <img class="object-contain w-full h-full" src="../images/parts/3.png" alt="image"/>
                </div>
                <div class="flex-1 flex flex-col gap-2 justify-center   w-full h-full">
                    <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام محصول : </p><p class="font-bold text-sisakoLightBlue"> کاور کلاچ 405 </p></div>
                    <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام خودرو : </p><p class="font-bold text-sisakoLightBlue"> پژو 405 </p></div>
                    <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام مشتری : </p><p class="font-bold text-sisakoLightBlue"> شرکت پایا کلاچ </p></div>
                </div> 
              </div>
            </div>
          <!--slider 4-->
          <div class="swiper-slide">
              <div class="flex gap-2 justify-center items-start w-full h-full">
                <div class="flex-1 felx justify-center items-center w-full h-full">
                    <img class="object-contain w-full h-full" src="../images/parts/4.png" alt="image"/>
                </div>
                <div class="flex-1 flex flex-col gap-2 justify-center   w-full h-full">
                    <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام محصول : </p><p class="font-bold text-sisakoLightBlue"> کاور کلاچ 405 </p></div>
                    <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام خودرو : </p><p class="font-bold text-sisakoLightBlue"> پژو 405 </p></div>
                    <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام مشتری : </p><p class="font-bold text-sisakoLightBlue"> شرکت پایا کلاچ </p></div>
                </div> 
              </div>
            </div>
          <!--slider 5-->
          <div class="swiper-slide">
              <div class="flex gap-2 justify-center items-start w-full h-full">
                <div class="flex-1 felx justify-center items-center w-full h-full">
                    <img class="object-contain w-full h-full" src="../images/parts/5.png" alt="image"/>
                </div>
                <div class="flex-1 flex flex-col gap-2 justify-center   w-full h-full">
                    <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام محصول : </p><p class="font-bold text-sisakoLightBlue"> کاور کلاچ 405 </p></div>
                    <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام خودرو : </p><p class="font-bold text-sisakoLightBlue"> پژو 405 </p></div>
                    <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام مشتری : </p><p class="font-bold text-sisakoLightBlue"> شرکت پایا کلاچ </p></div>
                </div> 
              </div>
            </div>
            <!--slider 6-->
            <div class="swiper-slide">
              <div class="flex gap-2 justify-center items-start w-full h-full">
                <div class="flex-1 felx justify-center items-center w-full h-full">
                    <img class="object-contain w-full h-full" src="../images/parts/6.png" alt="image"/>
                </div>
                <div class="flex-1 flex flex-col gap-2 justify-center   w-full h-full">
                    <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام محصول : </p><p class="font-bold text-sisakoLightBlue"> کاور کلاچ 405 </p></div>
                    <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام خودرو : </p><p class="font-bold text-sisakoLightBlue"> پژو 405 </p></div>
                    <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام مشتری : </p><p class="font-bold text-sisakoLightBlue"> شرکت پایا کلاچ </p></div>
                </div> 
              </div>
            </div>
    </div>
    <div class="swiper-pagination "></div>
    </div>
</div>






<!--dastemotor products-->
<div class="p-4 mt-2 container flex-1 content-center items-center">
<div class="w-full h-40 swiper mySwiper max-w-xl shadow-xl shadow-slate-900 flex items-center justify-center bg-sisakoGray rounded-md">
    <div class="swiper-wrapper">
      <!--slider 1-->
      <div class="swiper-slide">
        <div class="flex gap-2 justify-center items-start w-full h-full">
          <div class="flex-1 felx justify-center items-center w-full h-full">
              <img class="object-contain w-full h-full" src="../images/parts/1.png" alt="image"/>
          </div>
          <div class="flex-1 flex flex-col gap-2 justify-center w-full h-full">
              <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام محصول : </p><p class="font-bold text-sisakoLightBlue"> کاور کلاچ 405 </p></div>
              <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام خودرو : </p><p class="font-bold text-sisakoLightBlue"> پژو 405 </p></div>
              <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام مشتری : </p><p class="font-bold text-sisakoLightBlue"> شرکت پایا کلاچ </p></div>
          </div> 
        </div>
      </div>
      <!--slider 2-->
      <div class="swiper-slide">
        <div class="flex gap-2 justify-center items-start w-full h-full">
          <div class="flex-1 felx justify-center items-center w-full h-full">
              <img class="object-contain w-full h-full" src="../images/parts/2.png" alt="image"/>
          </div>
          <div class="flex-1 flex flex-col gap-2 justify-center   w-full h-full">
              <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام محصول : </p><p class="font-bold text-sisakoLightBlue"> کاور کلاچ 405 </p></div>
              <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام خودرو : </p><p class="font-bold text-sisakoLightBlue"> پژو 405 </p></div>
              <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام مشتری : </p><p class="font-bold text-sisakoLightBlue"> شرکت پایا کلاچ </p></div>
          </div> 
        </div>
      </div>
        <!--slider 3-->
        <div class="swiper-slide">
            <div class="flex gap-2 justify-center items-start w-full h-full">
              <div class="flex-1 felx justify-center items-center w-full h-full">
                  <img class="object-contain w-full h-full" src="../images/parts/3.png" alt="image"/>
              </div>
              <div class="flex-1 flex flex-col gap-2 justify-center   w-full h-full">
                  <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام محصول : </p><p class="font-bold text-sisakoLightBlue"> کاور کلاچ 405 </p></div>
                  <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام خودرو : </p><p class="font-bold text-sisakoLightBlue"> پژو 405 </p></div>
                  <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام مشتری : </p><p class="font-bold text-sisakoLightBlue"> شرکت پایا کلاچ </p></div>
              </div> 
            </div>
          </div>
        <!--slider 4-->
        <div class="swiper-slide">
            <div class="flex gap-2 justify-center items-start w-full h-full">
              <div class="flex-1 felx justify-center items-center w-full h-full">
                  <img class="object-contain w-full h-full" src="../images/parts/4.png" alt="image"/>
              </div>
              <div class="flex-1 flex flex-col gap-2 justify-center   w-full h-full">
                  <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام محصول : </p><p class="font-bold text-sisakoLightBlue"> کاور کلاچ 405 </p></div>
                  <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام خودرو : </p><p class="font-bold text-sisakoLightBlue"> پژو 405 </p></div>
                  <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام مشتری : </p><p class="font-bold text-sisakoLightBlue"> شرکت پایا کلاچ </p></div>
              </div> 
            </div>
          </div>
        <!--slider 5-->
        <div class="swiper-slide">
            <div class="flex gap-2 justify-center items-start w-full h-full">
              <div class="flex-1 felx justify-center items-center w-full h-full">
                  <img class="object-contain w-full h-full" src="../images/parts/5.png" alt="image"/>
              </div>
              <div class="flex-1 flex flex-col gap-2 justify-center   w-full h-full">
                  <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام محصول : </p><p class="font-bold text-sisakoLightBlue"> کاور کلاچ 405 </p></div>
                  <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام خودرو : </p><p class="font-bold text-sisakoLightBlue"> پژو 405 </p></div>
                  <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام مشتری : </p><p class="font-bold text-sisakoLightBlue"> شرکت پایا کلاچ </p></div>
              </div> 
            </div>
          </div>
          <!--slider 6-->
          <div class="swiper-slide">
            <div class="flex gap-2 justify-center items-start w-full h-full">
              <div class="flex-1 felx justify-center items-center w-full h-full">
                  <img class="object-contain w-full h-full" src="../images/parts/6.png" alt="image"/>
              </div>
              <div class="flex-1 flex flex-col gap-2 justify-center   w-full h-full">
                  <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام محصول : </p><p class="font-bold text-sisakoLightBlue"> کاور کلاچ 405 </p></div>
                  <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام خودرو : </p><p class="font-bold text-sisakoLightBlue"> پژو 405 </p></div>
                  <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام مشتری : </p><p class="font-bold text-sisakoLightBlue"> شرکت پایا کلاچ </p></div>
              </div> 
            </div>
          </div>
  </div>
  <div class="swiper-pagination "></div>
  </div>
</div>






<!--lent products-->
<div class="p-4 mt-2 container flex-1">
  <div class="w-full h-40 swiper mySwiper max-w-xl shadow-xl shadow-slate-900 flex items-center justify-center bg-sisakoGray rounded-md">
      <div class="swiper-wrapper">
        <!--slider 1-->
        <div class="swiper-slide">
          <div class="flex gap-2 justify-center items-start w-full h-full">
            <div class="flex-1 felx justify-center items-center w-full h-full">
                <img class="object-contain w-full h-full" src="../images/parts/1.png" alt="image"/>
            </div>
            <div class="flex-1 flex flex-col gap-2 justify-center w-full h-full">
                <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام محصول : </p><p class="font-bold text-sisakoLightBlue"> کاور کلاچ 405 </p></div>
                <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام خودرو : </p><p class="font-bold text-sisakoLightBlue"> پژو 405 </p></div>
                <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام مشتری : </p><p class="font-bold text-sisakoLightBlue"> شرکت پایا کلاچ </p></div>
            </div> 
          </div>
        </div>
        <!--slider 2-->
        <div class="swiper-slide">
          <div class="flex gap-2 justify-center items-start w-full h-full">
            <div class="flex-1 felx justify-center items-center w-full h-full">
                <img class="object-contain w-full h-full" src="../images/parts/2.png" alt="image"/>
            </div>
            <div class="flex-1 flex flex-col gap-2 justify-center   w-full h-full">
                <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام محصول : </p><p class="font-bold text-sisakoLightBlue"> کاور کلاچ 405 </p></div>
                <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام خودرو : </p><p class="font-bold text-sisakoLightBlue"> پژو 405 </p></div>
                <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام مشتری : </p><p class="font-bold text-sisakoLightBlue"> شرکت پایا کلاچ </p></div>
            </div> 
          </div>
        </div>
          <!--slider 3-->
          <div class="swiper-slide">
              <div class="flex gap-2 justify-center items-start w-full h-full">
                <div class="flex-1 felx justify-center items-center w-full h-full">
                    <img class="object-contain w-full h-full" src="../images/parts/3.png" alt="image"/>
                </div>
                <div class="flex-1 flex flex-col gap-2 justify-center   w-full h-full">
                    <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام محصول : </p><p class="font-bold text-sisakoLightBlue"> کاور کلاچ 405 </p></div>
                    <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام خودرو : </p><p class="font-bold text-sisakoLightBlue"> پژو 405 </p></div>
                    <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام مشتری : </p><p class="font-bold text-sisakoLightBlue"> شرکت پایا کلاچ </p></div>
                </div> 
              </div>
            </div>
          <!--slider 4-->
          <div class="swiper-slide">
              <div class="flex gap-2 justify-center items-start w-full h-full">
                <div class="flex-1 felx justify-center items-center w-full h-full">
                    <img class="object-contain w-full h-full" src="../images/parts/4.png" alt="image"/>
                </div>
                <div class="flex-1 flex flex-col gap-2 justify-center   w-full h-full">
                    <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام محصول : </p><p class="font-bold text-sisakoLightBlue"> کاور کلاچ 405 </p></div>
                    <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام خودرو : </p><p class="font-bold text-sisakoLightBlue"> پژو 405 </p></div>
                    <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام مشتری : </p><p class="font-bold text-sisakoLightBlue"> شرکت پایا کلاچ </p></div>
                </div> 
              </div>
            </div>
          <!--slider 5-->
          <div class="swiper-slide">
              <div class="flex gap-2 justify-center items-start w-full h-full">
                <div class="flex-1 felx justify-center items-center w-full h-full">
                    <img class="object-contain w-full h-full" src="../images/parts/5.png" alt="image"/>
                </div>
                <div class="flex-1 flex flex-col gap-2 justify-center   w-full h-full">
                    <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام محصول : </p><p class="font-bold text-sisakoLightBlue"> کاور کلاچ 405 </p></div>
                    <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام خودرو : </p><p class="font-bold text-sisakoLightBlue"> پژو 405 </p></div>
                    <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام مشتری : </p><p class="font-bold text-sisakoLightBlue"> شرکت پایا کلاچ </p></div>
                </div> 
              </div>
            </div>
            <!--slider 6-->
            <div class="swiper-slide">
              <div class="flex gap-2 justify-center items-start w-full h-full">
                <div class="flex-1 felx justify-center items-center w-full h-full">
                    <img class="object-contain w-full h-full" src="../images/parts/6.png" alt="image"/>
                </div>
                <div class="flex-1 flex flex-col gap-2 justify-center   w-full h-full">
                    <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام محصول : </p><p class="font-bold text-sisakoLightBlue"> کاور کلاچ 405 </p></div>
                    <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام خودرو : </p><p class="font-bold text-sisakoLightBlue"> پژو 405 </p></div>
                    <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام مشتری : </p><p class="font-bold text-sisakoLightBlue"> شرکت پایا کلاچ </p></div>
                </div> 
              </div>
            </div>
    </div>
    <div class="swiper-pagination "></div>
    </div>
</div>






<!--home products-->
<div class="p-4 mt-2 container flex-1">
<div class="w-full h-40 swiper mySwiper max-w-xl shadow-xl shadow-slate-900 flex items-center justify-center bg-sisakoGray rounded-md">
    <div class="swiper-wrapper">
      <!--slider 1-->
      <div class="swiper-slide">
        <div class="flex gap-2 justify-center items-start w-full h-full">
          <div class="flex-1 felx justify-center items-center w-full h-full">
              <img class="object-contain w-full h-full" src="../images/parts/1.png" alt="image"/>
          </div>
          <div class="flex-1 flex flex-col gap-2 justify-center w-full h-full">
              <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام محصول : </p><p class="font-bold text-sisakoLightBlue"> کاور کلاچ 405 </p></div>
              <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام خودرو : </p><p class="font-bold text-sisakoLightBlue"> پژو 405 </p></div>
              <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام مشتری : </p><p class="font-bold text-sisakoLightBlue"> شرکت پایا کلاچ </p></div>
          </div> 
        </div>
      </div>
      <!--slider 2-->
      <div class="swiper-slide">
        <div class="flex gap-2 justify-center items-start w-full h-full">
          <div class="flex-1 felx justify-center items-center w-full h-full">
              <img class="object-contain w-full h-full" src="../images/parts/2.png" alt="image"/>
          </div>
          <div class="flex-1 flex flex-col gap-2 justify-center   w-full h-full">
              <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام محصول : </p><p class="font-bold text-sisakoLightBlue"> کاور کلاچ 405 </p></div>
              <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام خودرو : </p><p class="font-bold text-sisakoLightBlue"> پژو 405 </p></div>
              <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام مشتری : </p><p class="font-bold text-sisakoLightBlue"> شرکت پایا کلاچ </p></div>
          </div> 
        </div>
      </div>
        <!--slider 3-->
        <div class="swiper-slide">
            <div class="flex gap-2 justify-center items-start w-full h-full">
              <div class="flex-1 felx justify-center items-center w-full h-full">
                  <img class="object-contain w-full h-full" src="../images/parts/3.png" alt="image"/>
              </div>
              <div class="flex-1 flex flex-col gap-2 justify-center   w-full h-full">
                  <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام محصول : </p><p class="font-bold text-sisakoLightBlue"> کاور کلاچ 405 </p></div>
                  <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام خودرو : </p><p class="font-bold text-sisakoLightBlue"> پژو 405 </p></div>
                  <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام مشتری : </p><p class="font-bold text-sisakoLightBlue"> شرکت پایا کلاچ </p></div>
              </div> 
            </div>
          </div>
        <!--slider 4-->
        <div class="swiper-slide">
            <div class="flex gap-2 justify-center items-start w-full h-full">
              <div class="flex-1 felx justify-center items-center w-full h-full">
                  <img class="object-contain w-full h-full" src="../images/parts/4.png" alt="image"/>
              </div>
              <div class="flex-1 flex flex-col gap-2 justify-center   w-full h-full">
                  <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام محصول : </p><p class="font-bold text-sisakoLightBlue"> کاور کلاچ 405 </p></div>
                  <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام خودرو : </p><p class="font-bold text-sisakoLightBlue"> پژو 405 </p></div>
                  <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام مشتری : </p><p class="font-bold text-sisakoLightBlue"> شرکت پایا کلاچ </p></div>
              </div> 
            </div>
          </div>
        <!--slider 5-->
        <div class="swiper-slide">
            <div class="flex gap-2 justify-center items-start w-full h-full">
              <div class="flex-1 felx justify-center items-center w-full h-full">
                  <img class="object-contain w-full h-full" src="../images/parts/5.png" alt="image"/>
              </div>
              <div class="flex-1 flex flex-col gap-2 justify-center   w-full h-full">
                  <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام محصول : </p><p class="font-bold text-sisakoLightBlue"> کاور کلاچ 405 </p></div>
                  <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام خودرو : </p><p class="font-bold text-sisakoLightBlue"> پژو 405 </p></div>
                  <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام مشتری : </p><p class="font-bold text-sisakoLightBlue"> شرکت پایا کلاچ </p></div>
              </div> 
            </div>
          </div>
          <!--slider 6-->
          <div class="swiper-slide">
            <div class="flex gap-2 justify-center items-start w-full h-full">
              <div class="flex-1 felx justify-center items-center w-full h-full">
                  <img class="object-contain w-full h-full" src="../images/parts/6.png" alt="image"/>
              </div>
              <div class="flex-1 flex flex-col gap-2 justify-center   w-full h-full">
                  <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام محصول : </p><p class="font-bold text-sisakoLightBlue"> کاور کلاچ 405 </p></div>
                  <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام خودرو : </p><p class="font-bold text-sisakoLightBlue"> پژو 405 </p></div>
                  <div class="flex justify-start items-center"><p class="text-sisakoDarkBlue">نام مشتری : </p><p class="font-bold text-sisakoLightBlue"> شرکت پایا کلاچ </p></div>
              </div> 
            </div>
          </div>
  </div>
  <div class="swiper-pagination "></div>
  </div>
</div>



 </div>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../js/productsSwiper.js"></script>
</body>
</html>