<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../build/tailwind.css" rel="stylesheet" />
    <title>sisako site</title>
</head>
<body class="font-samim bg-sisakoWhite">
    <div class="w-screen h-screen  px-8 py-6 xl:px-14 xl:p-">
        <div class="relative w-full h-full container mx-auto bg-sisakoGray rounded-md shadow-lg drop-shadow-2xl shadow-cyan-500">
            <div class="h-1-6 justify-start items-start"><img src="../images/logo.png" class="w-20 p-2 sm:w-28 md:w-36 lg:w-44" alt="sisako" /></div>
            <div class="h-1/6 flex justify-center items-center text-transparent">
                <p class="flex-1 flex justify-center items-center py-4 transition duration-300 text-sisakoDarkBlue hover:text-sisakoLightBlue cursor-pointer hover:scale-110 sm:text-lg md:text-xl lg:text-2xl xl:text-3xl">قالب سازی</p>
                <p class="flex-1 flex justify-center items-center py-4 transition duration-300 text-sisakoDarkBlue hover:text-sisakoLightBlue cursor-pointer hover:scale-110 sm:text-lg md:text-xl lg:text-2xl xl:text-3xl">پرسکاری</p>
                <p class="flex-1 flex justify-center items-center py-4 transition duration-300 text-sisakoDarkBlue hover:text-sisakoLightBlue cursor-pointer hover:scale-110 sm:text-lg md:text-xl lg:text-2xl xl:text-3xl">مونتاژ</p>
            </div>
            <div class="h-3/6 flex justify-center items-center">
                <p class="font-medium font-['Niconne',cursive] text-white  text-6xl sm:text-7xl md:text-8xl lg:text-9xl xl:text-10xl tracking-widest bg-clip-text text-transparent bg-gradient-to-r from-blue-400 to-blue-800 cursor-pointer  transition-all duration-1000 ">sisako</p>
            </div>
            <a class="absolute w-12 h-12  md:w-16 md:h-16  rounded-full cursor-pointer animate-bounce bg-sisakoDarkBlue hover:bg-sisakoLightBlue transition-colors duration-300 left-2 bottom-2 flex justify-center items-center text-white hover:text-sisakoDarkBlue">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 md:h-6 md:w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M19 14l-7 7m0 0l-7-7m7 7V3" />
                </svg>
            </a>
        </div>
    </div>

    <script defer src="https://unpkg.com/alpinejs@3.10.2/dist/cdn.min.js"></script>
</body>
</html>