<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../build/tailwind.css" rel="stylesheet" />
    <title>sisako units</title>
</head>

<body class="font-samim">
  <!-- unit name -->
<div class="p-4">
  <!-- unit name -->
  <p class="border-b-2   mb-2 border-sisakoLightBlue text-sisakoDarkBlue">واحد پرسکاری</p>
  <!-- unit images container -->
    <div class="columns-xs ">
      <!-- unit images 1 -->
        <div class="container relative group bg-blue-400 rounded-md">
            <img src="../images/g7.png" alt="Avatar" class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div class="flex flex-col middle items-center justify-center opacity-0 absolute inset-10 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text-lg ">مجموعه سیمین صنعت کوشا</p>
              <p class="text-sm ">این مجموعه دارای قدمتی 20 ساله است و در این مدت توانسته با کسب تجربه و دانش مناسب قالب ها و قطعات مناسبی طراحی کند</p>
            </div>
        </div>
        <!-- unit images 2 -->
        <div class="container relative group bg-blue-400 rounded-md">
            <img src="../images/2.png" alt="Avatar" class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div class="flex flex-col middle items-center justify-center opacity-0 absolute inset-10 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text ">John Doe</p>
              <p class="text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis eius aperiam mollitia ducimus aut doloremque, reiciendis, earum iusto excepturi, esse corrupti ad repellat sequi voluptates dolor sint. Mollitia, magni corporis.</p>
            </div>
        </div>
        <!-- unit images 3 -->
        <div class="container relative group bg-blue-400 rounded-md">
            <img src="../images/4.png" alt="Avatar" class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div class="flex flex-col middle items-center justify-center opacity-0 absolute inset-10 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text ">John Doe</p>
              <p class="text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis eius aperiam mollitia ducimus aut doloremque, reiciendis, earum iusto excepturi, esse corrupti ad repellat sequi voluptates dolor sint. Mollitia, magni corporis.</p>
            </div>
        </div>
        <!-- unit images 4 -->
        <div class="container relative group bg-blue-400 rounded-md">
            <img src="../images/5.jpg" alt="Avatar" class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div class="flex flex-col middle items-center justify-center opacity-0 absolute inset-10 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text ">John Doe</p>
              <p class="text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis eius aperiam mollitia ducimus aut doloremque, reiciendis, earum iusto excepturi, esse corrupti ad repellat sequi voluptates dolor sint. Mollitia, magni corporis.</p>
            </div>
        </div>
        <!-- unit images 5 -->
        <div class="container relative group bg-blue-400 rounded-md">
            <img src="../images/6.jpg" alt="Avatar" class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div class="flex flex-col middle items-center justify-center opacity-0 absolute inset-10 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text ">John Doe</p>
              <p class="text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis eius aperiam mollitia ducimus aut doloremque, reiciendis, earum iusto excepturi, esse corrupti ad repellat sequi voluptates dolor sint. Mollitia, magni corporis.</p>
            </div>
        </div>
        <!-- unit images 6 -->
        <div class="container relative group bg-blue-400 rounded-md">
            <img src="../images/7.jpg" alt="Avatar" class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div class="flex flex-col middle items-center justify-center opacity-0 absolute inset-10 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text ">John Doe</p>
              <p class="text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis eius aperiam mollitia ducimus aut doloremque, reiciendis, earum iusto excepturi, esse corrupti ad repellat sequi voluptates dolor sint. Mollitia, magni corporis.</p>
            </div>
        </div>
        <!-- unit images 7 -->
        <div class="container relative group bg-blue-400 rounded-md">
            <img src="../images/8.jpg" alt="Avatar" class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div class="flex flex-col middle items-center justify-center opacity-0 absolute inset-10 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text ">John Doe</p>
              <p class="text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis eius aperiam mollitia ducimus aut doloremque, reiciendis, earum iusto excepturi, esse corrupti ad repellat sequi voluptates dolor sint. Mollitia, magni corporis.</p>
            </div>
        </div>
        <!-- unit images 8 -->
        <div class="container relative group bg-blue-400 rounded-md hidden md:block">
            <img src="../images/9.jpg" alt="Avatar" class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div class="flex flex-col middle items-center justify-center opacity-0 absolute inset-10 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text ">John Doe</p>
              <p class="text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis eius aperiam mollitia ducimus aut doloremque, reiciendis, earum iusto excepturi, esse corrupti ad repellat sequi voluptates dolor sint. Mollitia, magni corporis.</p>
            </div>
        </div>
        <!-- unit images 9 -->
        <div class="container relative group bg-blue-400 rounded-md hidden md:block">
            <img src="../images/10.jpg" alt="Avatar" class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div class="flex flex-col middle items-center justify-center opacity-0 absolute inset-10 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text ">John Doe</p>
              <p class="text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis eius aperiam mollitia ducimus aut doloremque, reiciendis, earum iusto excepturi, esse corrupti ad repellat sequi voluptates dolor sint. Mollitia, magni corporis.</p>
            </div>
        </div>
        <!-- unit images 10 -->
        <div class="container relative group bg-blue-400 rounded-md hidden md:block">
            <img src="../images/11.jpg" alt="Avatar" class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div class="flex flex-col middle items-center justify-center opacity-0 absolute inset-10 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text ">John Doe</p>
              <p class="text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis eius aperiam mollitia ducimus aut doloremque, reiciendis, earum iusto excepturi, esse corrupti ad repellat sequi voluptates dolor sint. Mollitia, magni corporis.</p>
            </div>
        </div>
        <!-- unit images 11 -->
        <div class="container relative group bg-blue-400 rounded-md hidden md:block ">
            <img src="../images/12.jpg" alt="Avatar" class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div class="flex flex-col middle items-center justify-center opacity-0 absolute inset-10 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text ">John Doe</p>
              <p class="text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis eius aperiam mollitia ducimus aut doloremque, reiciendis, earum iusto excepturi, esse corrupti ad repellat sequi voluptates dolor sint. Mollitia, magni corporis.</p>
            </div>
        </div>
    </div>
</div>
</body>

</html>