<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords"
      content="پرسکاری, مونتاژ,سیساکو, قالب سازی,قطعات خودرو,قطعات فلزی,pressing,sisako,welding,diecasting">
    <meta name="description" content="pressing and assembly sheet metal parts">
    <meta name="author" content="Arman Abasian">
    <!--  Swiper's CSS -->
    <link href="../build/tailwind.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" href="/public/images/logos/logo.ico" />
    <title>sisako | سیساکو | welding</title>
</head>
<body dir="rtl" class="font-samim bg-sisakoWhite">
    <div class="p-4 mb-4" id="assemblyy">
        <!--unitImagesContainer Assembly  unitName -->
        <p class="border-b-2  pb-1 font-bold text-base mb-2 border-sisakoLightBlue text-sisakoDarkBlue">واحد مونتاژ</p>
        <!-- unitImagesContainer Assembly  unitImages -->
        <div class="columns-xs ">
          <!-- unitImagesContainer Assembly  unitImages image1-->
          <div class="container relative group bg-blue-400 rounded-md">
            <img src="../images/welding/saloon.webp" alt="Avatar"
              class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div
              class="flex flex-col middle items-center justify-center opacity-0 absolute inset-5 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text-lg">سالن مونتاژ جوش مقاومتی</p>
              <p class="text-sm">در این سالن ده دستگاه پرس جوش با توان های مختلف از 150 کیلو ولت آمپر تا 400 کیلو ولت
                آمپر, جهت جوش انواع قطعات فلزی از جمله:جوش ورق به ورق , مهره جوش, پیچ جوش و ... وجود دارد.</p>
            </div>
          </div>
          <!-- unitImagesContainer Assembly  unitImages image2 -->
          <div class="container relative group bg-blue-400 rounded-md">
            <img src="../images/welding/welding.webp" alt="Avatar"
              class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div
              class="flex flex-col middle items-center justify-center opacity-0 absolute inset-5 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text-lg">سالن مونتاژ جوش CO2</p>
              <p class="text-sm">در این سالن سیزده دستگاه جوش CO2 با توان های مختلف از 300 آمپر تا 500 آمپر, جهت جوش
                انواع قطعات فلزی با ضخامت های مختلف وجود دارد</p>
            </div>
          </div>
          <!-- unitImagesContainer Assembly  unitImages image3 -->
          <div class="container relative group bg-blue-400 rounded-md">
            <img src="../images/welding/fotoshop.webp" alt="Avatar"
              class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div
              class="flex flex-col middle items-center justify-center opacity-0 absolute inset-5 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text-lg">پروژه های درون سازمانی</p>
              <p class="text-sm">با توجه به وجود انواع دستگاه های جوش و برش, پروژه های درون سازمانی از قبیل: ساخت پالت,
                انبار, مخازن, و ماشین سازی با توجه به نیاز شرکت انجام می گردد. </p>
            </div>
          </div>
          <!-- unitImagesContainer Assembly  unitImages image4 -->
          <div class="container relative group bg-blue-400 rounded-md">
            <img src="../images/welding/gun.webp" alt="Avatar"
              class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div
              class="flex flex-col middle items-center justify-center opacity-0 absolute inset-5 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text-lg">سالن مونتاژ جوش مقاومتی آویز</p>
              <p class="text-sm">در این سالن شش دستگاه گان جوش ترانس سر خود با توان های مختلف از 30 کیلو ولت آمپر الی 60
                کیلو ولت آمپر جهت مونتاژ انواع قطعات فلزی و مجموعه سازی وجود دارد.</p>
            </div>
          </div>
          <!-- unitImagesContainer Assembly  unitImages image5 -->
          <div class="container relative group bg-blue-400 rounded-md">
            <img src="../images/welding/pressjoosh.webp" alt="Avatar"
              class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div
              class="flex flex-col middle items-center justify-center opacity-0 absolute inset-5 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text-lg">سالن مونتاژ جوش مقاومتی</p>
              <p class="text-sm">در این سالن ده دستگاه پرس جوش با توان های مختلف از 150 کیلو ولت آمپر تا 400 کیلو ولت
                آمپر وجود دارد </p>
            </div>
          </div>
          <!-- unitImagesContainer Assembly  unitImages image6 -->
          <div class="container relative group bg-blue-400 rounded-md ">
            <img src="../images/welding/qc.webp" alt="Avatar"
              class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div
              class="flex flex-col middle items-center justify-center opacity-0 absolute inset-5 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text-lg">واحد کنترل کیفیت</p>
              <p class="text-sm">در این واحد ابزارها و فیکسچرهای کنترلی و نیز تمامی نمونه شاهد های محصولات تولیدی , به
                تفکیک مراحل نگهداری می شود. محصولات در زمان شروع, حین و پایان تولید توسط بازرسین کنترل کیفیت با توجه به
                دستورالعمل های کنترلی بازرسی می گردد. </p>
            </div>
          </div>
          <!-- unitImagesContainer Assembly  unitImages image7 -->
          <div class="container relative group bg-blue-400 rounded-md ">
            <img src="../images/welding/amouzesh.webp" alt="Avatar"
              class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div
              class="flex flex-col middle items-center justify-center opacity-0 absolute inset-5 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text-lg">واحد آموزش و جلسات</p>
              <p class="text-sm">برگزاری کلاس های آموزشی و همچنین جلسات درون سازمانی و برون سازمانی در این واحد برگزار
                می شود</p>
            </div>
          </div>
          <!-- unitImagesContainer Assembly  unitImages image8 -->
          <div class="container relative group bg-blue-400 rounded-md ">
            <img src="../images/welding/saloon2.webp" alt="Avatar"
              class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div
              class="flex flex-col middle items-center justify-center opacity-0 absolute inset-5 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text-lg">سالن مونتاژ</p>
              <p class="text-sm">مجموعه سازی و مونتاژ قطعات تولیدی شرکت با توجه به نیاز مشتری در این سالن انجام می شود.
              </p>
            </div>
          </div>
          <!-- unitImagesContainer Assembly  unitImages image9 -->
          <div class="container relative group bg-blue-400 rounded-md ">
            <img src="../images/welding/saloon3.webp" alt="Avatar"
              class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div
              class="flex flex-col middle items-center justify-center opacity-0 absolute inset-5 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text-lg">سالن مونتاژ جوش مقاومتی</p>
              <p class="text-sm">در این سالن ده دستگاه پرس جوش با توان های مختلف از 150 کیلو ولت آمپر تا 400 کیلو ولت
                آمپر, جهت جوش انواع قطعات فلزی از جمله:جوش ورق به ورق , مهره جوش, پیچ جوش و ... وجود دارد.</p>
            </div>
          </div>
          <!-- unitImagesContainer Assembly  unitImages image10 -->
          <div class="container relative group bg-blue-400 rounded-md ">
            <img src="../images/welding/vitrin.webp" alt="Avatar"
              class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div
              class="flex flex-col middle items-center justify-center opacity-0 absolute inset-5 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text-lg">برخی از محصولات تولیدی</p>
              <p class="text-sm">تولید انواع کاورهای کلاچ, متالیک پلیت, گاید واشر, قطعات مربوط به مجموعه کمک فنر انواع
                خودروها, انواع دسته موتورها, انواع کفشک لنت ترمز و قطعات لوازم خانگی و...</p>
            </div>
          </div>
          <!-- unitImagesContainer Assembly  unitImages image11 -->
          <div class="container relative group bg-blue-400 rounded-md  ">
            <img src="../images/welding/anbar.webp" alt="Avatar"
              class="rounded-md mb-2  group-hover:opacity-20 w-full h-full">
            <div
              class="flex flex-col middle items-center justify-center opacity-0 absolute inset-5 text-center transition-all duration-300 group-hover:opacity-100">
              <p class="text-lg">واحد انبار</p>
              <p class="text-sm">محل نگهداری اقلام مصرفی و یدکی و نیز کنترل و ثبت کلیه ورود و خروج های مواد اولیه, نیم
                ساخته و نهایی و تجهیزات</p>
            </div>
          </div>
        </div>
      </div>
</body>
</html>